# dependencies
node_modules
.pnp
.pnp.js

# build outputs
dist
build
.next
out
.turbo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem
.vscode
.idea
